<!doctype html>
<!--[if IE 6]>         <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7 lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8 lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js no-touch">                 <!--<![endif]-->


<!-- FileInclude:Normal, /csp/cms/sites/rg/assets/includes/config01.csp -->

<!--/FileInclude:Normal, /csp/cms/sites/rg/assets/includes/config01.csp, took .000949 -->


<head>
	
	
<!-- FileInclude:Normal, /csp/cms/sites/rg/assets/includes/meta01.csp?get=title -->



	
	
	
	
	
	<title>Friends, family celebrate short life of Kyle Smith — football player and more | Local | Eugene, Oregon</title>
	<meta property="og:title" content="Friends, family celebrate short life of Kyle Smith — football player and more">
	
	
	



<!--/FileInclude:Normal, /csp/cms/sites/rg/assets/includes/meta01.csp?get=title, took .000578 -->

	
<!-- FileInclude:Normal, /csp/cms/sites/rg/assets/includes/meta01.csp?get=description -->



	
	
	
	<meta name="description" content="They came from Portland and they came from Elmira, and from other places as well, to remember the ­accomplished but short life of 22-year-old Kyle Smith. Smith made a name for himself on the football field at Elmira High School and later at Portland State University. He was slated to begin his senior season at PSU this fall, and he had aspirations of playing in the NFL.">
	<meta property="og:description" content="They came from Portland and they came from Elmira, and from other places as well, to remember the ­accomplished but short life of 22-year-old Kyle Smith. Smith made a name for himself on the football field at Elmira High School and later at Portland State University. He was slated to begin his senior season at PSU this fall, and he had aspirations of playing in the NFL.">
	
	
	



<!--/FileInclude:Normal, /csp/cms/sites/rg/assets/includes/meta01.csp?get=description, took .001168 -->

	
<!-- FileInclude:Normal, /csp/cms/sites/rg/assets/includes/meta01.csp?get=keywords -->



	
	<meta name="keywords" content="smith,portland,kyle,state,athlete,elmira,football,baptist,davis,eugene">
	



<!--/FileInclude:Normal, /csp/cms/sites/rg/assets/includes/meta01.csp?get=keywords, took .002015 -->

	
	
<!-- FileInclude:Normal, /csp/cms/sites/rg/assets/includes/head01.csp -->
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta http-equiv="cleartype" content="on">

<meta name="verify-v1" content="FPxMUeDPHJaIRBh+RAEc0QZisGX9WHLZuqlbleiLe3c=">
<meta name="google-site-verification" content="-b9kSGtOMT3DZyn5y1faDWWBN74GtyBDZlCDJuf39Yc">
<meta name="msvalidate.01" content="608AEB9B4D0BDA128921F2615DCC1FCE">

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="http://static.registerguard.com/v5/bulldog/dist/1.0.0/20160317/1/js/preflight.min.js"></script>

<!--[if (lt IE 9) & (!IEMobile 7)]>
	<script src="http://static.registerguard.com/v5/bulldog/dist/1.0.0/20160317/1/js/html5shiv-printshiv.min.js"></script>
	<link href="http://static.registerguard.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy">
	<link href="http://registerguard.com/respond.proxy.gif" id="respond-redirect" rel="respond-redirect">
<![endif]-->

<link rel="stylesheet" href="http://static.registerguard.com/v5/bulldog/dist/1.0.0/20170530/1/css/bulldog.min.css">


	
	<link rel="stylesheet" href="http://static.registerguard.com/v5/indesign/styles.css">
	







<meta name="apple-itunes-app" content="app-id=1065549293" data-icon-url="https://s3.amazonaws.com/static.mobilelocalnews.com/images/app_3078/branding/3078_icon_1024_app_icon_1447795774.PNG" data-title="RG News" data-price="Free">
<meta name="google-play-app" content="app-id=com.registerguard.id3078" data-icon-url="https://s3.amazonaws.com/static.mobilelocalnews.com/images/app_3078/branding/3078_icon_1024_app_icon_1447795774.PNG" data-title="RG News" data-price="Free">
<link href="http://uploads.registerguard.com/smart-banners/jquery.smartbanner.css" rel="stylesheet"/>




	
	
		
		
		
		<link rel="image_src" href="http://registerguard.com/csp/cms/sites/dt.common.streams.StreamServer.cls?STREAMOID=B6YpGqv3etKd_fWzPyNZcM$daE2N3K4ZzOUsqbU5sYuqb7lDzE5pqBUm6q05mHIiWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&amp;CONTENTTYPE=image/jpeg">
		<meta property="og:image" content="http://registerguard.com/csp/cms/sites/dt.common.streams.StreamServer.cls?STREAMOID=B6YpGqv3etKd_fWzPyNZcM$daE2N3K4ZzOUsqbU5sYuqb7lDzE5pqBUm6q05mHIiWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg">
		



<!-- [BEGIN] OpenX -->
<link rel="stylesheet" href="http://advertising.registerguard.com/assets/hosted/css/ads.css?v=20141020">


	<link rel="stylesheet" href="http://advertising.registerguard.com/assets/billboard/1.4/css/billboard.css">


<script src="//ox-d.registerguard.com/w/1.0/jstag"></script>
<script>
	
	var _ox = OX();
	
	
		
		// Story page:
		_ox.addAdUnit('537200296'); // Leaderboard 1
		_ox.addAdUnit('537200316'); // Mobile Banner
		_ox.addAdUnit('537200298'); // Medium Rectangle 1
		_ox.addAdUnit('537200299'); // Medium Rectangle 2
		
		
		 
		// Content Topics:
		_ox.addContentTopic(1001, 'Local News');
		_ox.addContentTopic(25007, 'Communities');
		
		
		
	
	
	
	
	
	// ROS:
	_ox.addAdUnit('537200302'); // ROS Weather Widget
	_ox.addAdUnit('537200307'); // ROS Leaderboard Bottom
	_ox.addAdUnit('537200312'); // ROS Mobile Banner Bottom
	
	_ox.addAdUnit('538001072'); // Section Slider Medium Rectangle 1
	
	_ox.addAdUnit('538017796'); // Video
	
	// Variables:
	_ox.addVariable('bp', ((window.innerWidth <= 1005) ? 'm' : 'd')); // ... return "m" or "d", where 1005px is the break point between "mobile" and "desktop".
	
	
		_ox.addVariable('s', 'news');
		_ox.addVariable('c', 'local');
		
		_ox.addVariable('cms-id', '34289193');
	
	
	// Get ads:
	_ox.fetchAds();
	
	
	
</script>
<!-- [END] OpenX -->


	
	<link rel="canonical" href="http://registerguard.com/rg/news/local/34289193-75/friends-family-celebrate-short-life-of-kyle-smith--football-player-and-more.html.csp">
	<meta property="og:url" content="/rg/news/local/34289193-75/friends-family-celebrate-short-life-of-kyle-smith--football-player-and-more.html.csp">
	




<meta property="og:site_name" content="The Register-Guard">

	<meta property="og:type" content="article">


<!-- [BEGIN] Chartbeat -->
<script type='text/javascript'>var _sf_startpt=(new Date()).getTime()</script>
<!-- [END] Chartbeat -->

<!-- [BEGIN] Mather Listener -->

<script type="text/javascript">
	
	(function() {
		function cookie(name) {
			return unescape((("; " + document.cookie).split("; " + name + "=")[1] || "").split(";")[0]);
		}
		
		var _snaq = (window._snaq = window._snaq || []);
		var uid = null
		var ctx = null;
		var c;
		
		// cookie data is in the form uid,loggedIn
		// example: 591,true
		
		if ((c = cookie('syncwall-userid'))) {
			
			c = c.split(',');

			uid = c[0];
			ctx = { user: { loggedIn: c[1] == 'true'} };
		}
		
		// Set up
		_snaq.push(['setCollectorUrl', 'www.i.matheranalytics.com']);
		_snaq.push(['setAppId', 'v1']);
		_snaq.push(['setCustomerId', 'ma31425']); // Client ID
		_snaq.push(['setMarket', '431110934']); // Market ID

		
			
			// CMS info
			_snaq.push(['setSection', 'local']); // Section //gSection.getName()
			_snaq.push(['setPageType', 'article']); // Page type (article, blog, gallery, home page, landing page, video)
			_snaq.push(['setAuthor', 'Francesca Fontana']); // Author 
			_snaq.push(['setArticlePublishTime', '2016-04-25T00:00:00-07:00']); // Pubdate (last slotted? Same as ##class(csp.rg.assets.methods.story).pubDate(gStory)?)
			
			
				
				
					
					// Paywall
					_snaq.push(['setPremium', true]); // Paywall true or false?
					
				
				
			
			
		
		
		uid && _snaq.push(['setUserId', uid]);
		_snaq.push(['enableActivityTracking', 30, 10]);
		_snaq.push(['setPollInterval', 500]);
		// track flow
		_snaq.push(['setForeignDomain', 'services.registerguard.com', { paramName: 'flow_type', values: 'subscription' }]);
		// page view must execute first
		_snaq.push(['trackPageView', null, ctx]);
		
		// OpenX
		var tid;
 
		tid = setInterval(function() {
			if (window._ox) {
				clearTimeout(tid);
				
				// Enable OpenX render events
				_ox.addHook(function(ox, props) {
					props = ox.getProperties();
					// send ad impression
					_snaq.push(['trackUnstructEvent', 'Ad Impression', { eaid: props.ad_id, eenv: 'j', epid: props.adunit_id, content: props.type, server: 'openx' }]);
				}, OX.Hooks.ON_AD_RENDER_FINISH);
			}
		}, 500);
		
	})();

</script>
<!-- [END] Mather Listener -->
	
	
	<!-- ncaa-copy-START -->
	{% block extra_css %}{% endblock extra_css %}
	<!-- ncaa-copy-END -->
	
	
</head>
<body>
	
	



<div class="wiffle">
	
	
<!-- FileInclude:Normal, /csp/cms/sites/rg/assets/includes/nav01.csp -->
	<header>
		
		<div id="bd_ear">
			
			<ul>
				<li><time datetime="2016-04-25T13:02:20-07:00"><span>Monday, </span>April 25, 2016</time></li>
				<li><a href="http://services.registerguard.com/">Subscriber Services</a></li>
				<li><a href="http://registerguard.com/homes">Homes</a></li>
				<li><a href="http://registerguard.com/autos">Autos</a></li>
				<li><a href="http://registerguard.com/jobs">Jobs</a></li>
				<li><a href="http://registerguard.com/classifieds">Classified</a></li>
				<li><a href="http://registerguard.com">Home</a></li>
			</ul>
			
		</div> <!-- /#bd_ear -->
		
		<div id="bd_masthead">
			
			<h1 id="bd_flag"><a href="http://registerguard.com">The Register-Guard</a></h1>
			
			<div id="forecast">
				
				<!-- //////////////////// ROS Weather Widget \\\\\\\\\\\\\\\\\\\\ -->
				<div class="button_1 advert"><div id="ros-weather-widget"><script>_ox.showAdUnit('537200302');</script></div></div>
				<!-- \\\\\\\\\\\\\\\\\\\\ ROS Weather Widget //////////////////// -->
				
			</div> <!-- /#forecast -->
			
			<nav>
				
				<div id="bd_proof">
					
					<h1 class="bd_cut">Navigation</h1>
					
					<ul id="megawhale" class="mw-ul">
						
						<li class="mw-li">
							
							<a class="mw-a" href="http://registerguard.com/rg/news/local/">News</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="w_line">
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com">Home</a></li>
													<li><a href="http://registerguard.com/rg/news/local/">Local</a></li>
													<li><a href="http://registerguard.com/rg/news/local/#mark-baker">Mark Baker</a></li>
													<li><a href="mailto:newstips@registerguard.com">News Tips</a></li>
													<li><a href="http://registerguard.com/rg/news/obituaries/">Obituaries</a></li>
													<li><a href="http://projects.registerguard.com/weather/">Weather</a></li>
													<li><a href="http://registerguard.com/rg/news/local/#stories">For the Record</a></li>
													<li><a href="http://registerguard.com/rg/news/local/#archive">Latest Seven Days</a></li>
													<li><a href="http://registerguard.com/rg/news/community/">Community</a></li>
													<li><a href="http://registerguard.com/newsletters">E-mail Newsletter</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of2">
											
											<div class="bd_gutter">
												
												<h2 class="bd_insert">Associated Press</h2>
												
												<div class="w_line">
													
													<div class="w_unit w_C1of2">
														
														<ul class="bd_scoop">
															<li><a href="http://projects.registerguard.com/apf/top/index/25/">Top Stories</a></li>
															<li><a href="http://projects.registerguard.com/apf/nwn/index/25/">Northwest Now</a></li>
															<li><a href="http://projects.registerguard.com/apf/biz/index/25/">Business</a></li>
															<li><a href="http://projects.registerguard.com/apf/portland-stocks/index/10/">Oregon Business</a></li>
															<li><a href="http://projects.registerguard.com/apf/oregon-sports/index/25/">Oregon Sports</a></li>
															<li><a href="http://projects.registerguard.com/apf/sports/index/25/">Sports</a></li>
															<li><a href="http://projects.registerguard.com/apf/tech/index/25/">Technology</a></li>
															<li><a href="http://projects.registerguard.com/apf/enter/index/25/">Entertainment</a></li>
															<li><a href="http://projects.registerguard.com/apf/politics/index/25/">Politics</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.w_unit -->
													
													<div class="w_unit w_C1of2 w_Cfix">
														
														<ul class="bd_scoop">
															<li><a href="http://projects.registerguard.com/apf/wx/index/25/">Weather</a></li>
															<li><a href="http://projects.registerguard.com/apf/us/index/25/">National</a></li>
															<li><a href="http://projects.registerguard.com/apf/intl/index/25/">International</a></li>
															<li><a href="http://projects.registerguard.com/apf/health/index/25/">Health</a></li>
															<li><a href="http://projects.registerguard.com/apf/sci/index/25/">Science</a></li>
															<li><a href="http://projects.registerguard.com/apf/odd/index/25/">Oddities</a></li>
															<li><a href="http://projects.registerguard.com/apf/lotteries/index/10/">Lotteries</a></li>
															<li><a href="http://projects.registerguard.com/pages/ap/podcasts/">Podcasts</a></li>
														</ul> <!-- /.bd_scoop -->
														
													</div> <!-- /.w_unit -->
													
												</div> <!-- /.w_line -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4 w_Cfix">
											
											<div class="bd_gutter">
												
												<h2 class="bd_insert">Maps</h2>
												
												<ul class="bd_scoop">
													<li><a href="http://projects.registerguard.com/police/eugene/">Eugene police call log</a></li>
													<li><a href="http://projects.registerguard.com/police/springfield/">Springfield police call log</a></li>
													<li><a href="http://projects.registerguard.com/pages/gas/">Lane County gas prices</a></li>
												</ul> <!-- /.bd_scoop -->
												
												
												
												<h2 class="bd_insert">Follow us on Facebook</h2>
												
												<ul class="bd_scoop">
													<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
												<h2 class="bd_insert">Follow us on Twitter</h2>
												
												<ul class="bd_scoop">
													<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
									</div> <!-- /.w_line -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
						<li class="mw-li">
							
							<a class="mw-a" href="http://registerguard.com/rg/sports/">Sports</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="w_line">
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/sports/preps/">Preps</a></li>
													<li><a href="http://registerguard.com/rg/sports/football/">Oregon Ducks Football</a></li>
													<li><a href="http://registerguard.com/rg/sports/#austin-meek">Columnist Austin Meek</a></li>
													<li><a href="http://registerguard.com/rg/sports/basketball/">Oregon Ducks Basketball</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/sports/trackandfield/">Track &amp; Field</a></li>
													<li><a href="http://registerguard.com/rg/sports/outdoors/">Outdoors</a></li>
													<li><a href="http://registerguard.com/rg/sports/#archive">Latest Seven Days</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<h2 class="bd_insert">Associated Press Sports</h2>
												
												<ul class="bd_scoop">
													<li><a href="http://projects.registerguard.com/apf/oregon-sports/index/25/">Oregon Sports</a></li>
													<!-- <li><a href="http://registerguard.stats.com/cfb/front.asp">NCAA</a> | <a href="http://registerguard.stats.com/cfb/scoreboards.asp">Scoreboard</a></li> -->
													<!-- <li><a href="http://registerguard.stats.com/cbk/front.asp">NCAA Men's Basketball</a> | <a href="http://registerguard.stats.com/cbk/scoreboard.asp">Scoreboard</a></li> -->
													<!-- <li><a href="http://registerguard.stats.com/wcbk/front.asp">NCAA Women's Basketball</a> | <a href="http://registerguard.stats.com/wcbk/scoreboards.asp">Scoreboard</a></li> -->
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4 w_Cfix">
											
											<div class="bd_gutter">
												
												<h2 class="bd_insert">Follow us on Facebook</h2>
												
												<ul class="bd_scoop">
													<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
												</ul>
												
												<h2 class="bd_insert">Follow us on Twitter</h2>
												
												<ul class="bd_scoop">
													<li><a href="https://twitter.com/rgduckfootball">@rgduckfootball</a></li>
													<li><a href="https://twitter.com/rgsports">@rgsports</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										
										
									</div> <!-- /.w_line -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
						<li class="mw-li">
							
							<a class="mw-a" href="http://registerguard.com/rg/business/">Business</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="w_line">
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/business/">Local</a></li>
													<!-- <li><a href="http://registerguard.com/rg/business/#lookup">Stock Lookup</a></li> -->
													<li><a href="http://registerguard.com/rg/business/#archive">Latest Seven Days</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<!-- <li><a href="http://registerguard.com/rg/business/#tools">Investor Tools</a></li> -->
													<!-- <li><a href="http://registerguard.com/rg/business/#spotlight">Business Spotlight</a></li> -->
													<li><a href="http://registerguard.com/rg/business/bluechip/">Blue Chip</a></li>
													<!--<li><a href="http://blogs.registerguard.com/storytellers/">Storytellers</a></li>-->
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.unit -->
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://bizfinder.registerguard.com/">Business Directory</a></li>
													<li><a href="http://projects.registerguard.com/apf/portland-stocks/index/10/">Oregon Business</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4 w_Cfix">
											
											<div class="bd_gutter">
												
												<h2 class="bd_insert">Follow us on Facebook</h2>
												
												<ul class="bd_scoop">
													<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
												<h2 class="bd_insert">Follow us on Twitter</h2>
												
												<ul class="bd_scoop">
													<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
									</div> <!-- /.w_line -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
						<li class="mw-li">
							
							<a class="mw-a" href="http://registerguard.com/rg/opinion/">Opinion</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="w_line">
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/opinion/">Editorials</a></li>
													<li><a href="http://registerguard.com/rg/opinion/">Letters</a></li>
													<li><a href="http://registerguard.com/rg/opinion/#archive">Latest Seven Days</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of2">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/opinion/#viewpoint">Guest Viewpoint</a></li>
													<li><a href="http://registerguard.com/rg/opinion/#letter">Contribute your Opinion</a></li>
													<li><a href="http://registerguard.com/rg/opinion/endorsements/">Endorsements</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4 w_Cfix">
											
											<div class="bd_gutter">
												
												<h2 class="bd_insert">Follow us on Facebook</h2>
												
												<ul class="bd_scoop">
													<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
												<h2 class="bd_insert">Follow us on Twitter</h2>
												
												<ul class="bd_scoop">
													<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
									</div> <!-- /.w_line -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
						<li class="mw-li">
							
							<a class="mw-a" href="http://registerguard.com/rg/life/">Life</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="w_line">
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/life/lifestyles/">Lifestyles</a></li>
													<li><a href="http://registerguard.com/rg/life/food/">Food</a></li>
													<li><a href="http://registerguard.com/rg/life/tastings/">Tastings</a></li>
													<li><a href="http://registerguard.com/rg/life/healthyfamilies/">Healthy Families</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/life/weekend/">Weekend</a></li>
													<li><a href="http://registerguard.com/rg/life/homeandgarden/">Home &amp; Garden</a></li>
													<li><a href="http://registerguard.com/rg/sports/outdoors/">Outdoors</a></li>
													<li><a href="http://registerguard.com/rg/life/discovery/">Discovery</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													
													<li><a href="http://registerguard.com/rg/life/retirement/">Destination: Retirement</a></li>
													<li><a href="http://registerguard.com/choice">Readers' Choice</a></li>
													<li><a href="http://parade.com/">Parade</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4 w_Cfix">
											
											<div class="bd_gutter">
												
												<h2 class="bd_insert">Follow us on Facebook</h2>
												
												<ul class="bd_scoop">
													<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
												<h2 class="bd_insert">Follow us on Twitter</h2>
												
												<ul class="bd_scoop">
													<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
									</div> <!-- /.w_line -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
						<li class="mw-li">
							
							<a class="mw-a" href="http://registerguard.com/rg/entertainment/">Entertainment</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="w_line">
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/entertainment/">Entertainment</a></li>
													<li><a href="http://registerguard.com/rg/entertainment/arts/">Arts</a></li>
													<!-- <li><a href="http://registerguard.com/rg/entertainment/encore/">Encore</a></li> -->
													<li><a href="http://affiliate.zap2it.com/tvlistings/ZCGrid.do?aid=oreurg">TV Listings</a></li>
													<li><a href="http://movies.yahoo.com/showtimes/eugene-or/">Movie Listings</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://go.registerguard.com/entertainment/">Go Entertainment</a></li>
													<li><a href="http://projects.registerguard.com/pages/entertainment/calendar/">Submit an event</a>
													<li><a href="http://registerguard.com/newsletters">E-mail Newsletter</a></li>
													<li><a href="http://registerguard.com/choice">Readers' Choice</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4">
											
											&nbsp;
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4 w_Cfix">
											
											<div class="bd_gutter">
												
												<h2 class="bd_insert">Follow us on Facebook</h2>
												
												<ul class="bd_scoop">
													<li><a href="http://www.facebook.com/registerguard">fb.com/registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
												<h2 class="bd_insert">Follow us on Twitter</h2>
												
												<ul class="bd_scoop">
													<li><a href="https://twitter.com/registerguard">@registerguard</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
									</div> <!-- /.w_line -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
						<li class="mw-li">
							
							<a class="mw-a" href="http://registerguard.com/rg/video/">Multimedia</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="w_line">
										
										<div class="w_unit w_C1of2">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/video/">Videos</a></li>
													<li><a href="http://registerguard.com/rg/photo/">Photo galleries</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
									</div> <!-- /.w_line -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
						<li class="mw-li">
							
							<a class="mw-a" href="http://registerguard.com/rg/news/obituaries/">Obits</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="w_line">
										
										<div class="w_unit w_C1of2">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/rg/news/obituaries/">Obituaries</a></li>
													<li><a href="http://www.legacy.com/obituaries/registerguard/obituary-search.aspx">Obituary search</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of2">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://www.legacy.com/obituaries/registerguard/obituary-browse.aspx">Recent obituaries and guest books</a></li>
													<li><a href="http://projects.registerguard.com/pages/news-forms/#purchase-obituary">Purchase a tribute obituary</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
									</div> <!-- /.w_line -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
						
						
						<li class="mw-li">
							
							<a class="mw-a" href="http://registerguard.com/classifieds">Marketplace</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="w_line">
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://registerguard.com/homes">Homes</a></li>
													<li><a href="http://registerguard.com/autos">Autos</a></li>
													<li><a href="http://registerguard.com/jobs">Jobs</a></li>
													<li><a href="http://registerguard.com/classifieds">General Classifieds</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://mediakit.registerguard.com">Advertising Info</a><li>
													<li><a href="http://mediakit.registerguard.com/contact-us/">Contact Advertising</a></li>
													<li><a href="http://mediakit.registerguard.com/">Digital Services</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://mediakit.registerguard.com/classified-advertising/">Classified Advertising Info</a></li>
													<li><a href="https://ads.registerguard.com">Place a Classified ad</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
										<div class="w_unit w_C1of4 w_Cfix">
											
											<div class="bd_gutter">
												
												<ul class="bd_scoop">
													<li><a href="http://projects.registerguard.com/pages/rg-jobs/">Jobs at The Register-Guard</a></li>
													<li><a href="http://registerguard.mycapture.com/mycapture/">Buy a photo</a></li>
												</ul> <!-- /.bd_scoop -->
												
											</div> <!-- /.bd_gutter -->
											
										</div> <!-- /.w_unit -->
										
									</div> <!-- /.w_line -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
						<li class="mw-li mw-li-orphan">
							
							<a class="mw-a" href="http://projects.registerguard.com/pages/search/">Search</a>
							
							<div class="mw-div">
								
								<div class="bd_filler">
									
									<div class="bd_gutter">
										
										<h2 class="bd_insert">Search The Register-Guard</h2>
										
										<form id="finder" method="get" action="http://projects.registerguard.com/pages/search/">


											
											<div id="finder_opts" style="margin-bottom:10px">
												<label><input type="radio" id="finder_opt-1" name="options" checked="checked" value="http://projects.registerguard.com/pages/search/"> Google Search</label>
												<label><input type="radio" id="finder_opt-3" name="options" value="http://pqasb.pqarchiver.com/registerguard/results.html"> Proquest Newspaper Archives (<i>back to <b>2001</b></i>)</label>
												<label><input type="radio" id="finder_opt-4" name="options" value="http://bizfinder.registerguard.com/search.pg"> BizFinder Local</label>
											</div>
											
											<div>
												<label for="finder_keywords">Keywords: <input type="search" id="finder_keywords" name="q" title="Search..." placeholder="Search..." results="5" autosave="finder">
													<input id="finder_submit" type="submit" value="Search">
												</label>
												<a style="text-decoration:underline" href="http://news.google.com/newspapers?nid=4pF9x-cDGsoC">Google News Archive Search</a> (<i>back to <b>1867</b></i>)
												<a style="text-decoration:underline" href="http://projects.registerguard.com/pages/search/help/">Search Help</a>
											</div>
											
										</form>
										
									</div> <!-- /.bd_filler -->
									
								</div> <!-- /.bd_filler -->
								
							</div> <!-- /.mw-div -->
							
						</li> <!-- /.mw-li -->
						
					</ul> <!-- /#megawhale -->
					
				</div> <!-- /#bd_proof -->
				
			</nav>
			
		</div> <!-- /#bd_masthead -->
		
	</header>
<!--/FileInclude:Normal, /csp/cms/sites/rg/assets/includes/nav01.csp, took .000987 -->


	
	<div id="bd_banner-top" class="bd_banner">
		
		
			
			
				
				<!-- //////////////////// Leaderboard 1 \\\\\\\\\\\\\\\\\\\\ -->
				<div class="advert"><div id="leaderboard-1"><script>_ox.showAdUnit('537200296');</script></div></div>
				<!-- \\\\\\\\\\\\\\\\\\\\ Leaderboard 1 //////////////////// -->
				
				<!-- //////////////////// Mobile Banner \\\\\\\\\\\\\\\\\\\\ -->
				<div class="advert"><div id="mobile-banner"><script>_ox.showAdUnit('537200316');</script></div></div>
				<!-- \\\\\\\\\\\\\\\\\\\\ Mobile Banner //////////////////// -->
				
			
			
		
		
	</div> <!-- /#bd_banner-top -->
	
	<div id="bd_content">
	<!-- ##### BEGIN CONTENT AREA ##### -->
		
		<div class="w_row">
			
			<div class="w_col w_C130">&nbsp;</div>
			
			<div class="w_col w_C640 w_D980">
				
				<h1>{{ seo_head }}</h1>
				{% if seo_deck %}<h2 class="sh4">{{ seo_deck }}</h2>{% endif %}
				
				<hr>
				
				<div class="fix">
						
					<div id="meta">
						<div class="byline name byline1">{{ byline }}</div>
						<div class="byline organization byline2">{{ byline_org }}</div>
						<div class="pub"><time pubdate datetime="2017-06-05T00:00:00-07:00">{{ pubdate }}</time></div>
					</div> <!-- /#meta -->
					
					<div class="sharing">
						<div class="addthis_sharing_toolbox"></div>
					</div>
					
				</div> <!-- /.fix -->
				
				<hr>
				
				
				<!-- ncaa-copy-START -->
				{% block content %}{% endblock content %}
				<!-- ncaa-copy-END -->
				
				
				</div><!-- /.w_col -->
			
			<div class="w_col w_C130">&nbsp;</div>
			
		</div><!-- /w.row -->
		
	<!-- ##### END CONTENT AREA ##### -->
	</div> <!-- /#bd_content -->
	
		
	
	<div id="bd_banner-bottom" class="bd_banner">
		
		<!-- //////////////////// ROS Leaderboard Bottom \\\\\\\\\\\\\\\\\\\\ -->
		<div class="advert"><div id="ros-leaderboard-bottom"><script>_ox.showAdUnit('537200307');</script></div></div>
		<!-- \\\\\\\\\\\\\\\\\\\\ ROS Leaderboard Bottom //////////////////// -->
		
		<!-- //////////////////// ROS Mobile Banner Bottom \\\\\\\\\\\\\\\\\\\\ -->
		<div class="advert"><div id="ros-mobile-banner-bottom"><script>_ox.showAdUnit('537200312');</script></div></div>
		<!-- \\\\\\\\\\\\\\\\\\\\ ROS Mobile Banner Bottom //////////////////// -->
		
	</div> <!-- /#bd_banner-bottom -->
	
	
	
	
<!-- FileInclude:Normal, /csp/cms/sites/rg/assets/includes/footer01.csp -->
	<footer>
		
		<div id="bd_morgue">
			
			<h1 class="bd_cut">Quick links</h1>
			
			<div class="w_row">
				
				<div class="w_col w_B300 w_C470 w_D300">
					
					<section>
						
						<h1 id="submit" class="bd_insert">Submit</h1>
						
						<ul class="bd_scoop">
							<li><a href="mailto:newstips@registerguard.com">News tips</a></li>
							<li><a href="http://registerguard.com/rg/opinion/#letter">Letters to the editor</a></li>
							<li><a href="http://projects.registerguard.com/pages/news-forms/">Births / Weddings / Obituaries</a></li>
							<li><a href="http://projects.registerguard.com/pages/entertainment/calendar/">Entertainment event</a></li>
							<li><a href="http://projects.registerguard.com/pages/news-forms/#education-extra">Education Extra</a></li>
							<li><a href="http://projects.registerguard.com/pages/news-forms/#volunteer-of-the-month">Volunteer of the month</a></li>
							<li><a href="http://projects.registerguard.com/staff/#news">Contact the newsroom</a></li>
						</ul> <!-- /.bd_scoop -->
						
					</section>
					
				</div> <!-- /.w_col -->
				
				<div class="w_col w_B300 w_C470 w_D300">
					
					<section>
						
						<h1 id="connect" class="bd_insert">Connect</h1>
						
						<ul class="bd_scoop">
							<li><a href="http://projects.registerguard.com/pages/promotions/">Promotions / Contests</a></li>
							<li><a href="http://registerguard.com/newsletters">Email newsletters</a></li>
							<li><a href="http://www.facebook.com/registerguard">Facebook</a></li>
							<li><a href="https://twitter.com/registerguard">Twitter</a></li>
							<li><a href="http://registerguard.com/apps">Mobile Apps</a></li>
							<li><a href="http://registerguard.com/rg/news/community/">Volunteer</a></li>
							<li><a href="http://projects.registerguard.com/support-services">Support Services</a></li>
							<li><a href="http://projects.registerguard.com/pages/about-the-register-guard/">About The Register-Guard</a></li>
							<li><a href="mailto:feedback@registerguard.com">Give us feedback</a></li>
							<li><a href="http://projects.registerguard.com/staff/">Contact The Register-Guard</a></li>
						</ul> <!-- /.bd_scoop -->
						
					</section>
					
				</div> <!-- /.w_col -->
				
				<div class="w_col w_B300 w_C470 w_D300 w_Bc w_Cc">
					
					<section>
						
						<h1 id="marketplace" class="bd_insert">Marketplace</h1>
						
						<ul class="bd_scoop">
							<li><a href="http://registerguard.com/homes">Homes</a></li>
							<li><a href="http://registerguard.com/autos">Autos</a></li>
							<li><a href="http://registerguard.com/jobs">Jobs</a></li>
							<li><a href="http://registerguard.com/classifieds">General Classifieds</a></li>
							<li><a href="http://mediakit.registerguard.com/">Digital Services</a></li>
							<li><a href="http://mediakit.registerguard.com/">Advertising Info</a></li>
							<li><a href="http://mediakit.registerguard.com/contact-us/">Contact Advertising</a></li>
							<li><a href="http://mediakit.registerguard.com/classified-advertising/">Classified Advertising Info</a>
							<li><a href="https://ads.registerguard.com">Place a Classified ad</a></li>
							<li><a href="http://projects.registerguard.com/pages/rg-jobs/">Jobs at The Register-Guard</a></li>
							<li><a href="http://registerguard.mycapture.com/mycapture/">Buy a photo</a></li>
						</ul> <!-- /.bd_scoop -->
						
					</section>
					
				</div> <!-- /.w_col -->
				
				<div class="w_col w_B300 w_C470 w_D300">
					
					<section>
						
						<h1 id="services" class="bd_insert">Subscriber Services</h1>
						
						<div class="bd_box">
							
							<div id="rgpdf"><a href="http://e-edition.registerguard.com">Today's front page</a></div>
							
							<ul class="bd_scoop">
								<li><a href="http://services.registerguard.com/">Subscribe</a></li>
								<li><a href="http://e-edition.registerguard.com/">E-Edition</a></li>
								<li><a href="http://services.registerguard.com/">Manage your account</a></li>
								<li><a href="http://pqasb.pqarchiver.com/registerguard/search.html">Archive</a></li>
								<li><a href="http://services.registerguard.com/#faq">Back issues</a></li>
								<li><a href="http://services.registerguard.com/">Contact Subscriber Services</a></li>
								<li><a href="http://nie.registerguard.com/">Newspapers in Education</a></li>
								<li><a href="http://projects.registerguard.com/pages/carrier/">Become a newspaper carrier</a></li>
							</ul> <!-- /.bd_scoop -->
							
						</div> <!-- /.bd_box -->
						
					</section>
					
				</div> <!-- /.w_col -->
				
			</div> <!-- /.row -->
			
			<div id="bd_press">
				
				<div class="w_C640fr w_D980fr" style="width:150px;">
					
					<a href="http://mediakit.registerguard.com/" target="_blank"><img src="http://uploads.registerguard.com/website-assets/rgmedia-footer.png"/></a>
					
				</div>
				
				<div>
					
					<p><span>The Register-Guard <span>&bull;</span></span> <span><a href="http://g.co/maps/h6sgk">3500 Chad Drive</a> &bull; Eugene, OR &bull; 97408 <span>/</span></span> <span>(541) 485-1234 <span>/</span> <a href="mailto:feedback@registerguard.com">Feedback</a></span></p>
					
					<p><span>Copyright &copy; 1996&ndash;2016 <span>/</span></span> <span><a href="http://projects.registerguard.com/pages/terms-of-use/">Terms</a> <span>/</span> <a href="http://projects.registerguard.com/pages/privacy-statement/">Privacy</a> <span>/</span> <a href="http://projects.registerguard.com/pages/copyright/">Copyright</a></span></p>
					
				</div>
				
			</div> <!-- /#bd_press -->
			
		</div> <!-- /#bd_morgue -->
		
	</footer>
	
<!--/FileInclude:Normal, /csp/cms/sites/rg/assets/includes/footer01.csp, took .000395 -->


	
</div> <!-- /.wiffle -->


<!-- FileInclude:Normal, /csp/cms/sites/rg/assets/includes/js01.csp -->
<script>if(!window.jQuery){document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"><\/script>');}</script>
<script>if(!window.jQuery){document.write('<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"><\/script>');}</script>

<script src="http://static.registerguard.com/v5/bulldog/dist/1.0.0/20160317/1/js/bulldog.min.js"></script>


<!-- ncaa-copy-START -->
{% block extra_js %}{% endblock %}
<!-- ncaa-copy-END -->


<script src="http://uploads.registerguard.com/smart-banners/jquery.smartbanner.js"></script>
<script type="text/javascript">
	
	$(function() { $.smartbanner({
		onInstall: function() {
			ga('send','event','smartbanner','view');
		},
		onClose: function() {
			$('#smartbanner').hide();
			ga('send','event','smartbanner','close');
		}
	}) } )
	
</script>

<!--[if (lt IE 9) & (!IEMobile 7)]>
	<script src="http://static.registerguard.com/v5/bulldog/dist/1.0.0/20160317/1/js/respond.min.js"></script>
<![endif]-->




	
	
	


<!-- Civil comments -->
<script>if($('.civil-comment-count').length){document.write('<script src="https://js.civilcomments.com/v1/embed.js" async><\/script>');}</script>

<!-- http://help.disqus.com/customer/portal/articles/565624-tightening-your-disqus-integration -->
<script>var disqus_shortname='registerguard';(function(){var s=document.createElement('script');s.async=true;s.src='http://'+disqus_shortname+'.disqus.com/count.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(s);}());</script>

<!-- [BEGIN] comScore -->
<script>var _comscore=_comscore||[];_comscore.push({c1:'2',c2:'14055685'});(function(){var s=document.createElement('script'),el=document.getElementsByTagName('script')[0];s.async=true;s.src=(document.location.protocol=='https:'?'https://sb':'http://b')+'.scorecardresearch.com/beacon.js';el.parentNode.insertBefore(s,el);})();</script>
<noscript><img src="//b.scorecardresearch.com/p?c1=2&amp;c2=14055685&amp;cv=2.0&amp;cj=1" width="1" height="1" alt=""></noscript>
<!-- [END] comScore -->

<!-- [BEGIN] Quantcast -->
<script>var _qevents=_qevents||[];(function(){var elem=document.createElement('script');elem.src=(document.location.protocol=='https:'?'https://secure':'http://edge')+'.quantserve.com/quant.js';elem.async=true;elem.type='text/javascript';var scpt=document.getElementsByTagName('script')[0];scpt.parentNode.insertBefore(elem,scpt);})();_qevents.push({qacct:'p-a2gE_aSO6ndbI'});</script>
<noscript><img src="//pixel.quantserve.com/pixel/p-a2gE_aSO6ndbI.gif" width="1" height="1" alt=""></noscript>
<!-- [END] Quantcast -->

<!-- [BEGIN] Analytics -->

	
	
		
		
		<script>(function(r,g,n,e,w,s){r.GoogleAnalyticsObject=e;r[e]||(r[e]=function(){(r[e].q=r[e].q||[]).push(arguments)});r[e].l=+new Date;w=g.createElement(n);s=g.getElementsByTagName(n)[0];w.async=1;w.src='//www.google-analytics.com/analytics.js';s.parentNode.insertBefore(w,s)}(window,document,'script','ga'));ga('create','UA-882065-1','registerguard.com');ga('require','displayfeatures');ga('require','linkid','linkid.js');ga('send','pageview',{'dimension1':'Austin  Meek','dimension2':'34176274','dimension3':'Mar 17, 2016 09:52PM','dimension4':'http://registerguard.com/rg/sports/34176274-81/ac22-2-goes-herey-yy-herey-for-xxxppy.html.csp','dimension5':'UO basketball system has been 32 years in the making','dimension6':'2010','dimension7':'Austin Meek'});</script>
		
	



<!-- [BEGIN] Chartbeat -->




	
	
	<script type='text/javascript'>
		var _sf_async_config={};
		/** CONFIGURATION START **/
		_sf_async_config.uid = 61036;
		_sf_async_config.domain = 'registerguard.com';
		_sf_async_config.useCanonical = true;
		_sf_async_config.sections = 'sports';
		_sf_async_config.authors = 'Austin  Meek';
		/** CONFIGURATION END **/
		(function(){
		  function loadChartbeat() {
			window._sf_endpt=(new Date()).getTime();
			var e = document.createElement('script');
			e.setAttribute('language', 'javascript');
			e.setAttribute('type', 'text/javascript');
			e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
			document.body.appendChild(e);
		  }
		  var oldonload = window.onload;
		  window.onload = (typeof window.onload != 'function') ?
			 loadChartbeat : function() { oldonload(); loadChartbeat(); };
		})();
	</script>
	




<!-- [END] Chartbeat -->

<!-- [BEGIN] Mather Listener -->
	
	<script type="text/javascript">
		
		(function() {
			var a = [].concat.apply([], _snaq);
			var src = a[a.indexOf('setCustomerId') + 1] + '/' + a[a.indexOf('setMarket') + 1] + '/sp.js?cb=' + Math.round(new Date() / 1.0368e9);
			var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
			sp._mather_tag = document.scripts[document.scripts.length - 1]; sp._mather_sp = sp.uniqueID;
			sp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://js.matheranalytics.com/s/' + src;
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
		})();
	</script>
	<noscript><img src="http://www.i.matheranalytics.com/i?e=pv&aid=v1&cid=ma31425&mrk=431110934&p=web&tv=no-js-0.1.0&tid=64033,72323.164529" style="display:none" height="1" width="1" alt/></noscript>
	
<!-- [END] Mather Listener -->

<!-- [BEGIN] Pagefair -->
	
	<script type="text/javascript">
		(function() {
			function async_load(script_url){
				var protocol = ('https:' == document.location.protocol ? 'https://' : 'http://');
				var s = document.createElement('script'); s.src = protocol + script_url;
				var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
			}
			bm_website_code = '136D8BC9C7204E6B';
			jQuery(document).ready(function(){async_load('asset.pagefair.com/measure.min.js')});
			jQuery(document).ready(function(){async_load('asset.pagefair.net/ads.min.js')});
		})();
	</script>
	
<!-- [END] Pagefair -->

<!-- [END] Analytics -->


	
	<script src="//registerguard.com/csp/cms/sites/rg/assets/includes/slider02.csp"></script>



	
	<!-- http://www.addthis.com/services/list -->
	<script>var addthis_config={data_ga_property:'UA-882065-1',data_ga_social:true},addthis_share={url:'http://registerguard.com/rg/sports/34176274-81/ac22-2-goes-herey-yy-herey-for-xxxppy.html.csp'};</script>
	<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=registerguard"></script>
	

<!--/FileInclude:Normal, /csp/cms/sites/rg/assets/includes/js01.csp, took .009174 -->




<!-- FileInclude:Normal, /csp/cms/sites/rg/assets/includes/props01.csp -->

<!--/FileInclude:Normal, /csp/cms/sites/rg/assets/includes/props01.csp, took .000163 -->

	
</body>
</html>
	
	